body {

    font-family: "roboto", sans-serif;
    background-color: #ffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-decoration-line: none;
}

.contacts {
    font-style: normal;
}

h2,
header a,
footer a,
.contacts,
.logo,
.benefits-title,
.team-title,
.team-name .portfolio h2,
.portfolio-title {
    color: #2E2F42;
}

p,
body,
header address a,
.benefits-text {
    color: #434455;
}

header a,
footer a,
.contacts {
    text-decoration-line: none;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-style: middle;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 3%;
    text-transform: uppercase;

}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-style: middle;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color: #4D5AE5;
}

.logo-down,
.text-down {
    color: #F4F4FD;
}

.down,
.hero-banner {
    background-color: #2E2F42;
}

.top-menu {
    font-Weight 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%
}

.contacts {
    font-Weight 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%
}

.hero-banner-name {
    color: #ffff;
    font-weight 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%
}

.top {
    background-color: #ffff;
}

.hero-banner-button {
    color: #ffff;
    background-color: #4D5AE5;
    font-style: middle;
    width: 169px;
    height: 56px;
    font-weight 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%
}

.hero-banner-button:hover {
    background-color: #404BBF
}

.benefits-title,
.team-name,
.portfolio-title {
    font-weight 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%
}

.benefits-text,
.portfolio-text {
    color: #434455;
    font-weight 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%
}

.team {
    background-color: #F4F4FD;
}

.portfolio h2 {
    background-color: #E7E9FC;
}

.top-menu :hover {
    color: #404BBF;
}

.contacts :hover {
    color: #404BBF;
}

.top-menu-studio :focus {
    color: #404BBF;
    text-decoration-line: underline;
    text-decoration-color: #404BBF;
}